.category{
    width: 100%;
    height: 90vh;
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;

   
}
.inner-div{
    width: 100%;
    height: 80%;
    /* background-color: rgb(51, 51, 51); */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.category-name{
    width: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /* padding-top: 4% ; */
    /* padding:3%; */

    
}
.item-image{
    width: 100%;
    height: 100%;
    background-color: rgb(235, 141, 12);
   object-fit: cover;
}
/* .height-1{
    width: 300px;
    position: relative;
       bottom: 50px;
} */
.category-image{
    width:50%;
    height: 60vh;
   object-fit: fill;
    float: right;
    background-color: rgb(235, 141, 12);
  
}
.height-2{
    position: relative;
       top: 50px;
}
.item-image{
    width: 80%;
    height: 400px;
    margin-bottom: 50% 0px;
       /* border-radius: 40px; */
       border: 0.1px solid rgb(150, 144, 144);
        /* margin-bottom:3% ; */
       display: flex;
       
        /* justify-content: center; */
        /* align-content: center; */
      
        /* padding-left: 3%; */
        
}
.item{
    width: 44%;
/* margin: 1%; */
   /* border-radius: 40px; */
   border: 0.1px solid rgb(150, 144, 144);
    margin-bottom:3% ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-content: center; */
    text-align: center;
    color: blanchedalmond;
    /* padding-left: 3%; */
    padding: 2%;
    font-family: 'Rubik', sans-serif;
}
/* .item:hover{
    background-color: rgb(67, 67, 67);
} */

.font-size{
    font-size: 6rem;
}
.rating{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.rate{
    padding-right:3%;
}
@media(max-width:768px){
        .category{
        flex-direction:column;
        background-color: white;
        color: black;
    }
    .category-name{

       width: 95%;
       margin: auto;
    }
    .inner-div{
        width: 100%;
        height: 80%;
        /* background-color: rgb(51, 51, 51); */
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .item{
       background-color: black;
    }
}