.footer{
    width: 100%;
    margin-top: 30px;
    /* height: 5vh; */
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    color: blanchedalmond;
    padding:2% 0px;
    font-family: 'Rubik', sans-serif;
}
/* .links{
    padding:30px 20px;
text-decoration: none;
color: rgb(214, 201, 181);
}
.links:hover{
    color:rgb(235, 141, 12);
} */

