.nav{
    /* background-color:rgb(245, 238, 229) ; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
  
   padding:30px 0px;
   
}
.text-decoration{
    text-decoration: none;
    color: black;
}
.logo{
    font-weight: bold;
    flex:1;
    display: flex;
    /* justify-content: flex-start; */
    align-items: center;
    /* background-color: red; */
    /* padding-left: 10%; */
    font-size: 30px;
    font-family: 'Licorice', cursive;
   font-family: 'Pacifico', cursive;
   font-family: 'Qwitcher Grypen', cursive;
   font-family: 'Rubik', sans-serif;
   text-align: left;
   /* background-color: aquamarine; */

    
}
.links{
    flex:1;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* background-color: aquamarine; */
    justify-content: center;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}
.links div{
    padding-right: 20%;
}
.links .text-decoration:hover{
    color: rgb(235, 141, 12);
    cursor: pointer;
  
    /* background-color: aquamarine; */
}
@media(max-width:768px){
    .nav{
        /* background-color:rgb(245, 238, 229) ; */
        display: flex;
        flex-direction: column;
        
        
    }
    .links{
        justify-content: space-around;
    }
    .links div{
        
        padding-right: 0%;
    }
    .logo{
       
        justify-content: center;
        padding:30px 0px;
        padding-bottom: 50px;
    }

}