.productlist{
width:100%;
/* background-color: gold; */
    /* margin-top: 70px; */
    /* padding-top: 70px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 40px;
    font-family: 'Rubik', sans-serif;
}
.margin-top{
    margin-top: 70px;
   
}
.product-description{
    color:rgb(95, 89, 89);
}
.rating{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    /* font-weight: bold; */
   
}
.star{
    width: 25px;
    padding:0px 2px;
}
.product-heading-image-div{
    width:100%;
   /* height: 50vh; */
    /* background-color: brown; */
    margin-bottom: 70px;
    clear: both;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.product-heading-image{
    width: 100%;
    height: 70vh;
    background-color: rgb(235, 141, 12);
   object-fit: cover;
}
/* .header-image{
    width: 100%;
    height: 100%;
    background-color: red;
   object-fit: cover;
} */
/* .product-image{
    width:50%;
} */

.product-image{
    width:300px;
    /* margin: auto; */
    display: block;
    padding-top: 2%;
}
.product-div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.card{
    margin-top:70px;
    /* border:1px solid rgb(235, 141, 12); */
    box-shadow: 0px 5px 15px 0px rgb(235, 141, 12);
    padding:20px 20px;
}
.product-name-price{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-self: center; */
    padding-top: auto;
    padding:6% 3%;
    /* font-weight: bold; */
   
}
.name{
    padding-bottom: 5%;
}
.price{
   font-size: large;
    padding:3% 0px;
    font-weight: bold;
}
.image-align{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media(max-width:768px){
    .product-div{
        display: flex;
        flex-direction: column;
        align-content: center;
       
    }
    .card{
        padding:20px 0px;
    }
    .image-align{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .name{
        padding-bottom: 5%;
        text-align: center;
        /* background-color: gold; */
    }

}

.name {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight:bold;
}

